
html{
    height: 100%;
}

body{

      background-image: url("../images/Background2.png");
      background-size: cover;
      color: black;
      font-family: "Verdana";


      }
@media (min-width: 1000px) {

    #cabecera{
        width: 100%;
        height: 210px;
        background-image: url("../images/headerNew.png");
        background-size: cover;


    }
}
@media (min-width: 1200px) {
    body{
        overflow: hidden;
    }
}

  #title_text{
  	text-align: center;
  	text-decoration: underline;
  }
  .regular_text{

  	margin-left: 50px;
   }

  #small_title_text{

  	text-decoration: underline;
  	text-align: center;
  }
  #list_center{

  	text-align: center;
  }
  .textarea {

      width: 80%;
      height: 500px;
      padding: 12px 20px;
      margin-right: 10%;
      margin-left: 10%;
      box-sizing: border-box;
      border: 2px solid #ccc;
      border-radius: 4px;
      background-color: #e6ffe6;
      resize: none;
      overflow-y:scroll;
      overflow-x:hidden;
  	   /* margin-left: 50px; */
  }



#btnFTPprocess{
        margin-left: 35% !important;
      width: 30%;
      margin-bottom: 10px;
    border: #088A29 1px groove ;
  }
#btnCopyProcess{
    margin-left: 35% !important;
    width: 30%;
    margin-bottom: 10px;
    border: #088A29 1px groove ;
}
  #navBar {
      background-color: whitesmoke !important;
      margin-top: 10px;
      margin-bottom: 25px;
  }
  .navElement{
      color: black !important;
      border: 2px solid #088A29;
  }

  .active{
      background-color:#81F781 !important;
  }
  .cont{
      background-color: lightgrey;
      padding-top: 10px;
      padding-bottom: 400px;
      border-radius: 10px ;
      max-height: 100%;
      margin-left: 20%;
      margin-right: 20%;
      margin-top: 10px;
      margin-bottom: 50px;
      padding: 10px;
  }

  #contId{

      margin-bottom: 100px !important;
  }
  footer {
      border: 1px solid black;
      position:absolute;
      bottom:0;
      margin-bottom: 0px;
      padding-bottom: 0px;
      width:100%;
      height:30px;   /* Height of the footer */
      background:#088A29;
      text-align: center;
      margin-top: 10px;
  }
@media (max-width: 1200px) {
    footer{
        visibility: hidden;
    }
}
  #listErrors{
      margin-top: 10px;
      overflow-y:scroll;
      overflow-x:hidden;
      height: 400px;
      font-size:12px;
  }